<%- include ('../layouts/gyws_header') %>


<header id="about-uss" class="masthead-au">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase my-auto">
                Winter Collection <br><h6>GENERAL DONATION</h6>
            </div>
        </div>
    </div>
</header>


<div class="shortintro">
    
</div>

<div class="container-fluid">
    <div class="row xrow" style="margin-left: 20px">
        <div class="col-md-8" style="padding : 10px; font-size: 17px">
            <p>Donate in our annual donation drive, Winter Collection, and do your bit in spreading some happiness in these tough times. The amount raised in this event will be used for administrative and operational expenses so that the good work goes on and we bring more and more bright smiles.</p>
            <p>The amount which we raise through this are used for the regular official expenses and Maintenances.</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style="margin-top: 40px;">
            <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_G7KERYeaCVw0PY"> </script> </form> 
        </div>
       
    </div>
</div><br>



<%- include ('../layouts/gyws_footer') %>