<%- include ('../layouts/gyws_header') %>

<header id="about-uss" class="masthead-au">
    <div class="container"></div>
</header>


<div class="container-fluid">
    <div class="full"></div>
    <div class="row pad">
        <div class="col-md-12">
            <div class="col-md-auto">
                <div style="font-family:'Montserrat';" class="text-center">
                    <h3>WHO WE ARE?</h3><br>
                    <div class="parallax1 container-fluid">
                        <div style="font-family:'Montserrat';" class="text-cont text-left box1">Gopali Youth Welfare Society
                            is a registered non-governmental voluntary organization primarily managed by some students and
                            faculty members of IIT Kharagpur, with the support of local members from Gopali.<br><br>It was
                            established in 2002 with a mission to improve the living standard of the people of Gopali, a
                            village 5 km from IIT Kharagpur. Registered in 2004 under the West Bengal Societies Registration
                            Act of 1961 with Reg. No. S/IL/23893, it has been advancing with the twin objectives of making
                            the youth and society aware of and ensuring socio-economic welfare for underprivileged and
                            weaker sections of the society.<br><br>Through its programmes of free education, social
                            awareness campaigns and vocational training, GYWS has seen many lives changed for the better.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-md-center">
        <div class="col-md-12 box4 bg-light">
                <!-- <p class="text-cont text-center"></p>
            </div> -->
            <h2 class="text-center">OUR HISTORY</h2>
            <div style="padding: 30px 25px 30px 25px" class="container-fluid text-left">
                    <p class="text-cont text-left">We all live in a nation that brims with a diverse and almost unfathomable population of over a billion. And yet, there lurks a deep sense of irony in the same fact due to the mundane daily lives that we all lead without a care in the world about the others in this nation who struggle through each moment just to make ends meet for themselves and their families. Those of us who have been fortunate enough to be embraced by financial stability and the boon of education, are perhaps not afflicted by the perils that the majority of people in this country have to face. But that does not necessarily imply that we remain wrapped in our blankets of comfort and forget about those who just have mere rags.

                        In 2002, when such a regular citizen named Mrinal Kanti Bhanja, thought about this fundamental truth about our society and saw the suffering around him in the midst of his political work; it severely jolted him. And that is when he decided to work with all the resources and force that he can muster towards uplifting the society. The philosophy he adopted was simple and all the fuel it needed was sowing the seed of concern for society into the youth of the nation. The best avenue to mobilize and enhance the inherent goodness in the youth of India, lay right before him – IIT Kharagpur. Thus, the Gopali Youth Welfare Society (GYWS) was born. With his guidance and encouragement, the students and teachers of IIT have since then set up a network that promotes the growth, education, and prosperity of the underprivileged people who reside outside the borders of the educational institution. Setting up schools, free tuition, workshops and awareness camps and exploring all the possible territories of aiding the underprivileged has now become the vitality of this society.
                        
                        Founded in 2002, the society in its initial years was involved in social activities like organising blood donation camps, tree plantation drives and taking out awareness drives in association with national and international organisations like Nehru Yuva Kendra and Red Cross Society.
                        
                        Of all the herculean tasks undertaken by this student run NGO, starting of an English medium Primary school in a rural area to make education accessible to all was most daunting. In 2008 GYWS’s very own school JagritiVidyaMandir (JVM), started at a govt. high school premises and Now we have our own school in Gopali area, which is a fully functional school in which we have more than 230 students studying with teachers hired for overall development of deprived ones.
                        
                        Unlike many other NGOs, GYWS is not dedicated to any one particular cause and our welfare schemes covers wide range of issues from free education to social awareness campaigns, vocational training to child labour issues, health camps to women employment. GYWS explores all the possible territories of aiding the underprivileged.
                    </p>
            </div>
        </div>
    </div>

        <!-- </h2> -->
        <div class="parallax2">
            <div class="row">
                <div class="col-md-6">
                    <div style="font-family:'Montserrat'" class="text-center box2">
                        <h3>VISION</h3>
                        <p class="text-cont text-left">We aim to build a <b>network of autonomous student-run
                                centers</b> across India, to <b>provide them with a platform</b> for ensuring the
                            <b>fulfillment of Sustainable Development Goals</b> for the weaker sections of the Society.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div style="font-family:'Montserrat'" class="text-center box3">
                        <h3>MISSION</h3>
                        <p class="text-cont text-left">Gopali Youth Welfare Society is changing lives of people in and
                            around Kharagpur by providing <b>quality education</b> to underprivileged children and
                            ensuring a life of dignity for adults by conducting relevant <b>skill development
                                programs</b>.<br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <h2 style="margin-top: 6%;">FOUNDER'S MESSAGE</h2>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2 my-auto text-center"><img id="image-mobile" src="/contents/about/founder_image.jpg"
                style="margin-top: 10%; width:250px;" border:"10 class="b7 rounded-circle img-fluid"></div>
        <blockquote id="message" style="font-family:'Montserrat'; color: #262626;"
            class="col-md-6 blockquote text-left"><br><br>There is a natural law, a Divine law that obliges you and me
            to believe the sufferings of the distressed and the destitute. A service for the poor is a supreme virtue
            and the great channel through which the mercy of God is passed on to mankind.<br><br>As stewards of GOPALI
            YOUTH WELFARE SOCIETY, the board and staff of Society are committed to adhering as closely as possible to
            his intentions, as reflected in our guiding principle. GYWS is a rural-based registered organization by and
            for the people. Despite the many ups and downs, it has pulled on with real favor to serve the disadvantaged,
            the underprivileged, the poor and the needy. Our journey would not have been smooth if it was not for the
            support by the wholehearted participation and cooperation from the community as well as from the other
            partners (agencies) have helped a lot to sustain the activities. So, we take this occasion to extend our
            heartfelt gratitude to one and all, who, in whatever capacity, might have contributed to one's might to
            sustain our noble endeavour. We earnestly hope the coming year will be fruitful and meaningful.<br>
            <footer style="color: #262626;" class="blockquote-footer text-right">Mr. Mrinal Kanti Bhanja, Founder, GYWS
            </footer>
        </blockquote>
        <div class="col-md-2"></div>
    </div>
</div>

<%- include ('../layouts/gyws_footer') %>