<%- include ('../layouts/gyws_header') %>

<section>
	<div>
		<center>
			<h1>Privacy Policy</h1>
		</center>
	</div>
	<div>
		<center>
			<h3>Terms and condition</h3>
		</center>
		<p>Gopali Youth Welfare Society is grateful to all of its supporters including those who volunteers, donors and members to help us continue doing our work.  Goonj maintains strict donor privacy policies to protect the integrity and privacy of personal information gathered from our supporters and visitors through all of our communication channels, as well as from visitors to our Websites and those who donate through them.</p>
		<p>Gopali Youth Welfare Society does not sell exchange or rent your personal information to any organization or individual. We will not divulge personal information to any other organization or individual other than that necessary to transact, fulfill and or account for online donations that you have authorized.</p>
		<p>Gopali Youth Welfare Society will only use your phone number and email address if we need to verify information or to thank you for your contribution, ask for your opinion, request your assistance, or invite you to a special event.</p>
	</div>
	<div>
		<center>
			<h3>Information we collect</h3>
		</center>
		<ol>
			<li>Name</li>
			<li>Email Id</li>
			<li>Mobile Number</li>
		</ol>
	</div>
	<div>
		<center>
			<h3>How we use the information?</h3>
		</center>
		<ol>
			<li>To send receipt for your donation.</li>
			<li>To respond your questions and queries about Gopali Youth Welfare Society.</li>
			<li>To respond your queries related to students performance (if you have adopted any child under EACH).</li>
			<li>To send you invitation regarding some events.</li>
			<li>To send bi-monthly newsletters, reports and other updates.</li>
		</ol>
	</div>
</section>

<%- include ('../layouts/gyws_footer') %>