<%- include ('../layouts/gyws_header') %>


<header id="about-uss" class="masthead-au">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase my-auto">Jagriti Vidya Mandir<h6>(CHILD IS PRECIOUS BUT CHILDHOOD
                    IS PRICELESS)</h6>
            </div>
        </div>
    </div>
</header>


<div class="shortintro">
    <p>Jagriti Vidya Mandir is an English medium school which aims to <br> provide quality education to underprivileged
        children absolutely, free of cost.</p>
</div>

<div class="container-fluid">
    <div class="row xrow">
        <div class="col-md-3 xbox"><img src="/contents/initiatives/124.png" width="27.5%"><br><br>
            <div class="jvm_intro">
                <p>JVM was established in April, 2008. <br> Its Main motto is ❝ To educate each and every child for a
                    better tommorow ❞.</p>
            </div>
        </div>
        <div class="col-md-3 xbox"><span class="fa-4x"><i
                    class="fas fa-road fa-stack-1x text-primary"></i></span><br><br>
            <div class="jvm_intro">
                <p>It is located in Tangasool village,<br> 1.5 kilometers from Salua Air Force Station<br> which in turn
                    is 5 kilometers away from IIT campus.</p>
            </div>
        </div>
        <div class="col-md-3 xbox"><img src="/contents/initiatives/125.png" width="27.5%"><br><br>
            <div class="jvm_intro">
                <p>At present, school is up to 5th standard <br>and 240+ students are enrolled <br> from nursery to 5th
                    standard and 11+ <br>teachers.</p>
            </div>
        </div>
    </div>
</div><br>


<div class="row xrow">
    <div class="col-md-1 xbox"></div>
    <div class="col-md-3 xbox"><img src="/contents/initiatives/126.png" width="27.5%"><br><br>
        <div class="jvm_intro">
            <p>JVM aspires to be a residential full-fledged school for students of under previledged families offering
                variety of courses at +2 level, vocational training and career guidance.</p>
        </div>
    </div>
    <div class="col-md-3 xbox"><img src="/contents/initiatives/127.png" width="27.5%"><br><br>
        <div class="jvm_intro">
            <p><strong>Future Plans:</strong> We seek to take Jagriti Vidya Mandir to beyond its current primary level
                to complete school cum hostel <br>catering to the needs of over<span id="dots">....</span><span
                    id="more">500 students. The facility will not only provide education up to 12th grade, but will also
                    take responsibility of ensuring that its students settle in their professional or educational lives
                    before they leave.</span><a id="seeMore" onclick="myFunction()">see more</a></p>
        </div>
    </div>
    <div class="col-md-3 xbox"></div>
</div>


<div class="row">
    <div class="col-md-2"></div>
    <div id="quotes" class="col-md-8">
        <p><span class="symbols">❝</span>Education is the most powerful weapon which you can use to change the
            world.<span class="symbols">❞</span></p>
        <h5><span class="symbols">☛</span>Nelson Mandela</h5>
    </div>
    <div class="col-md-2"></div>
</div>
<hr>


<%- include ('../layouts/gyws_footer') %>