<%- include ('../layouts/gyws_header') %>


<section style="margin-top: 8em; text-align: center; background-color: yellow; padding-bottom: 1px; padding-top: 3px">
    <h1>KGP Blood Connect</h1>
</section>


<section class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div style="padding: 0px" class="col-md-7">
                        <p style="text-align: center; font-size: 115%; margin-top: 2%">KGP Blood Connect is a social
                            initiative to help those truly in dire need of blood as efficiently as possible. The
                            principle of this initiative is to create a database of all willing donors in the vicinity,
                            containing all pertinent details such as age, gender, blood group and any health issues.
                            These donors were expected to give their contact details and be ready to come and donate
                            blood at a short notice. Our hope was that through this method the people within as well as
                            outside the campus would never be in a shortage of blood should they ever need it
                            desperateky.</p>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        <div class="embed-responsive embed-responsive-1by1">
                            <iframe src="/contents/initiatives/KBC_2.mp4" class="embed-responsive-item"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section style="background-color: white">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body jumbotron">
                            <h3 class="card-title">
                                <div class="row">
                                    <div class="col-md-9">About Blood</div>
                                    <div class="col-md-3"><i style="color: red; font-size: 200%"
                                            class="fa fa-heartbeat symbols"></i></div>
                                </div>
                            </h3>
                            <p class="card-text">Check whether you can give blood or not.</p>
                        </div><!-- Button to Open the Modal--><button type="button" data-toggle="modal"
                            data-target="#myModal1" style="padding: 10px" class="btn btn-primary">Check Now</button>
                        <!-- The Modal-->
                        <div id="myModal1" class="modal fade">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <!-- Modal Header-->
                                    <div class="modal-header">
                                        <h4 class="modal-title">General Eligibility Criteria</h4><button type="button"
                                            data-dismiss="modal" class="close">×</button>
                                    </div><!-- Modal body-->
                                    <div class="modal-body">
                                        <p>
                                            To donate blood, you must:<br>
                                            <ul>
                                                <li>Be in general good health.</li>
                                                <li>Not have had any symptoms of infection e.g. sore throat, cough,
                                                    runny nose or diarrhoea for at least 1 week.</li>
                                                <li>Not have had a fever in the last 4 weeks.</li>
                                                <li>Not have taken medication, herbal supplements or traditional herbal
                                                    remedies for at least 3 days. If you have taken antibiotics, wait at
                                                    least 1 week.</li>
                                                <li>Weigh at least 45 kg.</li>
                                                <li>Have a haemoglobin level of at least 13.0 g/dl for males and 12.5
                                                    g/dl for females.</li>
                                            </ul>
                                        </p>
                                    </div><!-- Modal footer-->
                                    <div class="modal-footer"><button type="button" data-dismiss="modal"
                                            class="btn btn-danger">Close</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body jumbotron">
                            <h3 class="card-title">
                                <div class="row">
                                    <div class="col-md-10">Become a <br> Potential Donor</div>
                                    <div class="col-md-2"><i style="color: red; font-size: 150%"
                                            class="fa fa-handshake symbols"></i>
                                        <!--card text here-->
                                    </div>
                                </div>
                            </h3>
                            <p class="card-text pb-1"></p><br>
                        </div><!-- Button to Open the Modal--><button type="button" data-toggle="modal"
                            data-target="#myModal2" style="padding: 10px" class="btn btn-primary">Register Now</button>
                        <!-- The Modal-->
                        <div id="myModal2" class="modal fade">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <!-- Modal Header-->
                                    <div class="modal-header">
                                        <h4 class="modal-title"></h4><button type="button" data-dismiss="modal"
                                            class="close">×</button>
                                    </div><!-- Modal body-->
                                    <div class="modal-body">
                                        <p>Link To Register : <a
                                                href="https://docs.google.com/forms/d/e/1FAIpQLSehG47Cghc-NXychdaZKVfxXGgM68dMAfximyDOh6ZgChmmow/viewform">Form</a>
                                        </p>
                                    </div><!-- Modal footer-->
                                    <div class="modal-footer"><button type="button" data-dismiss="modal"
                                            class="btn btn-danger">Close</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body jumbotron">
                            <h3 class="card-title">
                                <div class="row">
                                    <div class="col-md-10">Raise<br> a Request</div>
                                    <div class="col-md-2"><i style="color: red; font-size: 200%"
                                            class="fa fa-hand-pointer symbols"></i></div>
                                </div>
                            </h3>
                            <p class="card-text pb-1"></p><br>
                            <!--| Some example text some example text. John Doe is an architect and engineer-->
                        </div><!-- Button to Open the Modal--><button type="button" data-toggle="modal"
                            data-target="#myModal3" style="padding: 10px" class="btn btn-primary">Register Now</button>
                        <!-- The Modal-->
                        <div id="myModal3" class="modal fade">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <!-- Modal Header-->
                                    <div class="modal-header">
                                        <h4 class="modal-title"></h4><button type="button" data-dismiss="modal"
                                            class="close">×</button>
                                    </div><!-- Modal body-->
                                    <div class="modal-body">
                                        <p>Link To Register : <a
                                                href="https://docs.google.com/forms/d/e/1FAIpQLSehG47Cghc-NXychdaZKVfxXGgM68dMAfximyDOh6ZgChmmow/viewform">Form</a>
                                        </p>
                                    </div><!-- Modal footer-->
                                    <div class="modal-footer"><button type="button" data-dismiss="modal"
                                            class="btn btn-danger">Close</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</section>


<%- include ('../layouts/gyws_footer') %>