<%- include ('../layouts/gyws_header') %>
<link href='<%=baseurl%>gyws/assets/css/aarohan.css' rel="stylesheet" type="text/css">


<header class="main-head">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading">AAROHAN</div>
        </div>
    </div>
</header><br><br>


<div class="container">
    <h2 class="impact">WHAT IS AAROHAN</h2>
    <div><img src="/contents/initiatives/alogo.png" class="mx-auto d-block"></div>
    <div class="light-text">“Supporting children to play requires us to remember what life is all about. It’s not
        about getting from A-Z, but rather dreaming beyond both.”</div>
    <div class="info-tex">Aarohan is an initiative started and coordinated by Gopali Youth Welfare Society to create
        avenues and platforms for the students and societies of IIT Kharagpur to contribute in their own unique way
        towards the growth of Kharagpur.</div>
    <hr>
    <h2 class="impact">MOTIVE</h2>
    <div class="info-text">The motive of the initiative AAROHAN is to conduct welfare activities by collaborating
        with other motivated individuals and societies from IIT Kharagpur, apart from GYWS members.</div>
    <hr>
    <h2 class="impact">EVENTS</h2>
    <h3 class="sm">MT Donation Drive</h3>
    <div class="info-text">On the occasion of Children’s Day, Mother Teresa Hall conducted a "Children's Day
        Donation Drive" with the cooperation of all hall boarders. The money collected was used to buy stationary
        products like notebooks, pencils along with some food items. Stationary items and food packets were
        distributed to all the students. A drawing competition was also held in few of the classes.</div>
    <h3 class="sm">Adventure Sports</h3>
    <div class="info-text">Adventure activities for the students of JVM in association with Technology Adventure
        Society ( TAdS) was held in IIT Kharagpur near Technology Students Gymkhana. Multiple activities were
        conducted which includes zorbing, archery and jumping jacks. It was a good extra-curricular activity for the
        students of JVM.</div>
    <hr>
</div><br>

<%- include ('../layouts/gyws_footer') %>