<%- include ('../layouts/gyws_header') %>

<style type="text/css">
.dbox {
    height: auto;
    margin-bottom: 5%;
}
.dbox img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
</style>


<header id="prayas" class="masthead">
    <div class="bd-example">
        <div id="carouselExampleCaptions" data-ride="carousel" class="carousel slide carousel-fade">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active"><img style=" display:block;object-fit: cover;width:100%;" 
                        src="/contents/initiatives/home-slide/1.jpg" alt="PRAYAS" class="d-block vh-100">
                    <!--<div class="carousel-caption top-cap d-block d-md-block"><a href="#portfolio.bg-light"
                            style="border-radius: 100px ;"
                            class="btn btn-primary btn-lg text-uppercase js-scroll-trigger">Tell Me More</a><a
                            href="http://prayas.gyws.org/payprayas" style="border-radius: 100px ;"
                            class="btn btn-secondary btn-lg text-uppercase js-scroll-trigger">Donate Now</a></div>-->
                </div>
                <div class="carousel-item"><img style="display:block;object-fit: cover;width:100%"
                        src="/contents/initiatives/home-slide/2.jpg" alt="..." class="d-block vh-100">
                    <!--<div class="carousel-caption top-cap d-block d-md-block"><a href="#portfolio.bg-light"
                            style="border-radius: 100px ;"
                            class="btn btn-primary btn-lg text-uppercase js-scroll-trigger">Tell Me More</a><a
                            href="http://prayas.gyws.org/payprayas" style="border-radius: 100px ;"
                            class="btn btn-secondary btn-lg text-uppercase js-scroll-trigger">Donate Now</a></div>-->
                </div>
                <div class="carousel-item"><img style="display:block;object-fit: cover;width:100%"
                        src="/contents/initiatives/home-slide/3.jpg" alt="..." class="d-block vh-100">
                    <!--<div class="carousel-caption top-cap d-block d-md-block"><a href="#portfolio.bg-light"
                            style="border-radius: 100px ;"
                            class="btn btn-primary btn-lg text-uppercase js-scroll-trigger">Tell Me More</a><a
                            href="http://prayas.gyws.org/payprayas" style="border-radius: 100px ;"
                            class="btn btn-secondary btn-lg text-uppercase js-scroll-trigger">Donate Now</a></div>-->
                </div>
            </div><a href="#carouselExampleCaptions" role="button" data-slide="prev" class="carousel-control-prev"><span
                    aria-hidden="true" class="carousel-control-prev-icon"></span><span
                    class="sr-only">Previous</span></a><a href="#carouselExampleCaptions" role="button"
                data-slide="next" class="carousel-control-next"><span aria-hidden="true"
                    class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
        </div>
    </div>
</header>




<section style="text-align: center;" class="jumbotron">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><img src="/contents/initiatives/125.png" width="27.5%"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p style="margin-left: 5%; margin-right: 5%"><span class="symbols">❝</span>Changing the lives of children is
                a continuous process. Nothing can be done in a limited period. As individuals we have to continue to
                give support by way of financial help,social help, time as well as other resources. I believe in
                continuity and devotion without deviation. GYWS is doing just that.<span class="symbols">❞</span></p>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div style="text-align: center;" class="col-md-4">
            <p><span class="symbols"> </span> </p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="container">
        <!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12"><a
                    href="https://www.globalgiving.org/projects/donate-a-brick-for-the-education-of-rural-india/"
                    style="border-radius: 100px ;" class="btn btn-primary btn-lg">Donate</a></div>
        </div>-->
    </div>
    <div class="container">
        <div class="row"></div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <!-- BEGIN danamojo code-->
        </div>
    </div>
</section>



<section id="portfolio" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Programs under Skill Development</h2>
                <h3 class="section-subheading text-muted"> </h3>
            </div>
        </div>
        <div class="container-fluid"></div>
    </div><!-- alter this position-->
    <div id="div_h4_c" class="row arow">
        <div class="col-6 dbox">
            <h4 class="h4_c">Rural Innovation Program</h4>
            <p class="h4_p_c">GYWS organises this program for five day program in association with the MHRD Institution
                Innovation Council - IIT Delhi & Gopali Youth Welfare Society.<br><button type="button"
                    data-toggle="modal" data-target="#myModal4" style="padding: 10px; margin-top: 10px;"
                    class="btn btn-primary">See More</button></p>
        </div>
        <div class="col-6 dbox"><img src="/contents/initiatives/132.png"></div>
    </div>
    <div id="div_h4_t" class="row arow">
        <div class="col-6 dbox"><img src="/contents/initiatives/134.png"></div>
        <div class="col-6 dbox">
            <h4 class="h4_t">Skill Development Programs</h4>
            <p class="h4_p_t">The vision of Skill Development is to fulfil need of skilled manpower across Gopali
                village by tailoring coaching and basic computer training.<br><button type="button" data-toggle="modal"
                    data-target="#myModal5" style="padding: 10px; margin-top: 10px;" class="btn btn-primary">See
                    More</button></p>
        </div>
    </div>
    <div id="div_h4_c" class="row arow">
        <div class="col-6 dbox">
            <h4 class="h4_c">Cloth Donation</h4>
            <p class="h4_p_c">An annual program for cloth donation to underprivileged peoples. Many students of IIT
                Kharagpur discard off these clothes. We collect these clothes and distribute among the peoples below
                poverty level.</p>
        </div>
        <div class="col-6 dbox"><img src="/contents/initiatives/130.png"></div>
    </div>
    <div id="div_h4_t" class="row arow">
        <div class="col-6 dbox"><img src="/contents/initiatives/133.png"></div>
        <div class="col-6 dbox">
            <h4 class="h4_t">Greenovation</h4>
            <p class="h4_p_t">The motto is to educate and help local farmers in adopting modern sustainable farming
                techniques. These techniques help farmers to increase their earnings from agricultural practices.</p>
        </div>
    </div>
    <div id="div_h4_c" class="row arow">
        <div class="col-6 dbox">
            <h4 class="h4_c">Live Project</h4>
            <p class="h4_p_c">We conducted a survey in association with National Student Service in nearby area of
                Kharagpur so as to analyse ground level realities and to provide sustainable development of
                underpriviledge section of society.</p>
        </div>
        <div class="col-6 dbox"><img src="/contents/initiatives/125.png"></div>
    </div>
</section>



<div id="myModal4" role="dialog" tabindex="-1" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="margin-left: 33%" class="modal-title">Objectives</h4><button type="button"
                    data-dismiss="modal" class="close">×</button>
            </div><!-- Modal body-->
            <div style="font-size: 125%" class="modal-body">
                <p>The objective of the program as jointly realized by both the organizations is to provide ground level
                    exposure to the students of some of the nation’s best universities regarding the socio-economic
                    problems of rural India by providing them an opportunity of real-life one to one interaction with
                    the rural people.</p>
                <p>The programme will not only ensure the student’s exposure to the grass-root realities of rural India
                    but will also make sure that the students identify and solve some real-life problems through
                    innovation and technology.</p>
                <p>IIC-IIT Delhi last program featured in a news channel.</p>
            </div><!-- Modal footer-->
            <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-danger">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="myModal5" role="dialog" tabindex="-1" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="margin-left: 33%" class="modal-title">Objectives</h4><button type="button"
                    data-dismiss="modal" class="close">×</button>
            </div><!-- Modal body-->
            <div style="font-size: 125%" class="modal-body">
                <ol>
                    <li></li>To provide job oriented skills through proper training in fields of tailoring, computer
                    training, etc.<li></li>To provide quality education for free aiming at students admission in reputed
                    institutions like Navodaya schools.<li>To provide education to underprivileged kids upto primary
                        classes.</li>
                    <li></li>To aware residents of nearby localities regarding welfare schemes run by government and
                    also help with documents if required.<li>To monitor the projects being run by this team.</li>
                </ol>
            </div><!-- Modal footer-->
            <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-danger">Close </button>
            </div>
        </div>
    </div>
</div>
<div id="EarnAsmile_Modal" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div data-dismiss="modal" class="close-modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="modal-body">
                            <h2 class="text">Earn a Smile</h2>
                            <p class="item-intro text-muted">A smile is a curve that sets everything straight.</p><img
                                src="img/events/cover/EarnAsmile2.jpeg" alt="" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <p></p>Earn a Smile is a program started by IIT Kharagpur students to educate the children whose
                        parents are not able to bear the expenses of his/her education.
                        Since it is our social and moral duty to help the society in its growth, we request the people
                        to contribute to this great cause by donating or by adopting children for their education as
                        long as possible. In this way, we can bring a smile on the lovely faces of children who are not
                        able to get the basic education. Hence, the program earned its name to Earn a Smile. Your little
                        help can change someone’s world
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="donation-box">
                            <div class="title">Donation Information</div>
                            <div class="fields"><input id="firstName" type="text" placeholder="First Name"><input
                                    id="email" type="text" placeholder="Email"><input id="address" type="text"
                                    placeholder="Address Line 1"><input id="address" type="text"
                                    placeholder="Address Line 2"></div>
                            <div class="switch"><input id="one-time" type="radio" name="view" value="One-Time"
                                    checked="" class="switch-input"><label for="one-time"
                                    class="switch-label switch-label-off">One-Time</label><input id="monthly"
                                    type="radio" name="view" value="Monthly" class="switch-input"><label for="monthly"
                                    class="switch-label switch-label-on">Monthly</label><span
                                    class="switch-selection"></span></div>
                            <div class="amount">
                                <div class="button">$30</div>
                                <div class="button">$50</div>
                                <div class="button">$100</div>
                                <div class="button">$<input type="text" placeholder="" class="set-amount"></div>
                            </div><button id="rzp-button1" type="submit" class="donate-button"><i
                                    class="fa fa-credit-card"></i> Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="HelpASAP_Modal" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div data-dismiss="modal" class="close-modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="modal-body">
                            <h2 class="text">Help aSAP</h2>
                            <p class="item-intro text-muted">Adopt a Sapling. Nurture to tree.</p><img
                                src="img/events/cover/HelpASAP/HelpaSAP_2.jpg" alt="" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <p>We are the first generation to feel the impact of climate change and the last generation that
                            can do something about it. Therefore, it is our moral duty to protect and preserve the
                            environment and ecosystem around us so that our coming generation can enjoy a peaceful life
                            full of nature and its gifts to mankind.
                            The plantation of a tree and its maintenance until it can survive its own requires
                            investment in many forms such as saplings cost, fencing around the saplings cost, tools, and
                            manpower for the plant's continuous monitoring to save it from animals and other
                            environmental factors. The plantation of a tree and its maintenance until it can survive its
                            own requires investment in many forms such as saplings cost, fencing around the saplings
                            cost, tools, and manpower for the plant's continuous monitoring to save it from animals and
                            other environmental factors. </p>
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="donation-box">
                            <div class="title">Donation Information</div>
                            <div class="fields"><input id="firstName" type="text" placeholder="First Name"><input
                                    id="email" type="text" placeholder="Email"><input id="address" type="text"
                                    placeholder="Address Line 1"><input id="address" type="text"
                                    placeholder="Address Line 2"></div>
                            <div class="switch"><input id="one-time" type="radio" name="view" value="One-Time"
                                    checked="" class="switch-input"><label for="one-time"
                                    class="switch-label switch-label-off">One-Time</label><input id="monthly"
                                    type="radio" name="view" value="Monthly" class="switch-input"><label for="monthly"
                                    class="switch-label switch-label-on">Monthly</label><span
                                    class="switch-selection"></span></div>
                            <div class="amount">
                                <div class="button">$30</div>
                                <div class="button">$50</div>
                                <div class="button">$100</div>
                                <div class="button">$<input type="text" placeholder="" class="set-amount"></div>
                            </div><button id="rzp-button2" type="submit" class="donate-button"><i
                                    class="fa fa-credit-card"></i> Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="JVM_Modal" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div data-dismiss="modal" class="close-modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="modal-body">
                            <h2 class="text">Support a classroom</h2>
                            <p class="item-intro text-muted">PREP - Prayas Rural Education Programme</p><img
                                src="img/events/cover/jvm_sat.png" alt="" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <p>The Jagriti school, Gopali is promoted by the Gopali Youth Welfare Society. A unique feature
                            of Jagriti School is that, about 100 IIT Kharagpur, students are regularly participating,
                            organizing and supporting in shaping various activities of the school. The campus design
                            offers adequate opportunities for the IIT students to contribute more. This is a great
                            motivation for initiating key changes in approach for design of the School campus. We seek
                            to take JVM to beyond its current primary level to secondary level and providing education
                            to at least 500 students providing them modern facilities like digital classes, digital labs
                            and ensuring them with the best quality education.</p>
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="donation-box">
                            <div class="title">Donation Information</div>
                            <div class="fields"><input id="firstName" type="text" placeholder="First Name"><input
                                    id="email" type="text" placeholder="Email"><input id="address" type="text"
                                    placeholder="Address Line 1"><input id="address" type="text"
                                    placeholder="Address Line 2"></div>
                            <div class="switch"><input id="one-time" type="radio" name="view" value="One-Time"
                                    checked="" class="switch-input"><label for="one-time"
                                    class="switch-label switch-label-off">One-Time</label><input id="monthly"
                                    type="radio" name="view" value="Monthly" class="switch-input"><label for="monthly"
                                    class="switch-label switch-label-on">Monthly</label><span
                                    class="switch-selection"></span></div>
                            <div class="amount">
                                <div class="button">$30</div>
                                <div class="button">$50</div>
                                <div class="button">$100</div>
                                <div class="button">$<input type="text" placeholder="" class="set-amount"></div>
                            </div><button id="rzp-button3" type="submit" class="donate-button"><i
                                    class="fa fa-credit-card"></i> Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Eduvolution_Modal" tabindex="-1" role="dialog" aria-hidden="true" class="portfolio-modal modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div data-dismiss="modal" class="close-modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-11 mx-auto">
                        <div class="modal-body">
                            <h2 class="text">Support a classroom</h2>
                            <p class="item-intro text-muted">Programme for Rural Innovative Developments in
                                Entrepreneurship</p><img src="img/events/cover/pride_2.jpg" alt=""
                                class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="donation-container">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <p>In collaboration with government and non-government, we will be organizing a skill
                            development type of program for their self-development and to motivate them to get a stable
                            life further on and developing entrepreneurship skills. PRAYAS will do consultancy and
                            marketing to develop a platform for the self-independent development of their skills. It
                            will do a vocational training program for imparting a new developing technology for skill
                            development. To provide a cost-effective sustainable development approach for their skill
                            development and giving entrepreneurship skills.</p>
                    </div>
                    <div class="col-lg-5 mx-auto">
                        <div class="donation-box">
                            <div class="title">Donation Information</div>
                            <div class="fields"><input id="firstName" type="text" placeholder="First Name"><input
                                    id="email" type="text" placeholder="Email"><input id="address" type="text"
                                    placeholder="Address Line 1"><input id="address" type="text"
                                    placeholder="Address Line 2"></div>
                            <div class="switch"><input id="one-time" type="radio" name="view" value="One-Time"
                                    checked="" class="switch-input"><label for="one-time"
                                    class="switch-label switch-label-off">One-Time</label><input id="monthly"
                                    type="radio" name="view" value="Monthly" class="switch-input"><label for="monthly"
                                    class="switch-label switch-label-on">Monthly</label><span
                                    class="switch-selection"></span></div>
                            <div class="amount">
                                <div class="button">$30</div>
                                <div class="button">$50</div>
                                <div class="button">$100</div>
                                <div class="button">$<input type="text" placeholder="" class="set-amount"></div>
                            </div><button id="rzp-button4" type="submit" class="donate-button"><i
                                    class="fa fa-credit-card"></i> Donate Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>var options = {
                                   "key": "rzp_test_Zu4qsGaVzkY7D6",
  "amount": "50000",
  "currency": "INR",
   receipt: "order_rcptid_11",
    payment_capture: '0',
  "name": "Earn a Smile",
  "description": "A smile is a curve that sets everything straight.",
  "image": "img/donate/prayas.jpg",

  "handler": function (response){
        alert(response.razorpay_payment_id);
  },
  "prefill": {
                                   "name": "Gaurav Kumar",
  "email": "gaurav.kumar@example.com",
  "contact": "9999999999"
  },
  "notes": {
                                   "address": "note value"
  },
  "theme": {
                                   "color": "#fed136"
  }
  };
  var rzp1 = new Razorpay(options);
  document.getElementById('rzp-button1').onclick = function(e){
                                   rzp1.open();
  e.preventDefault();
  }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>var options = {
                                   "key": "rzp_test_Zu4qsGaVzkY7D6",
  "amount": "50000",
  "currency": "INR",
    receipt: "order_rcptid_11",
    payment_capture: '0',
  "name": "Help aSAP",
  "description": "Adopt a Sapling. Nurture to tree.",
  "image": "img/donate/prayas.jpg",

  "handler": function (response){
                                   alert(response.razorpay_payment_id);
  },
  "prefill": {
                                   "name": "Gaurav Kumar",
  "email": "gaurav.kumar@example.com",
  "contact": "9999999999"
  },
  "notes": {
                                   "address": "note value"
  },
  "theme": {
                                   "color": "#fed136"
  }
  };
  var rzp2 = new Razorpay(options);
  document.getElementById('rzp-button2').onclick = function(e){
                                   rzp2.open();
  e.preventDefault();
  }
  
  
      script(src='https://checkout.razorpay.com/v1/checkout.js')</script>
    <script>var options = {
                                   "key": "rzp_test_Zu4qsGaVzkY7D6",
  "amount": "50000",
  "currency": "INR",
    receipt: "order_rcptid_11",
    payment_capture: '0',
  "name": "Support a classroom",
  "description": "PREP - Prayas Rural Education Programme",
  "image": "img/donate/prayas.jpg",

  "handler": function (response){
                                   alert(response.razorpay_payment_id);
  },
  "prefill": {
                                   "name": "Gaurav Kumar",
  "email": "gaurav.kumar@example.com",
  "contact": "9999999999"
  },
  "notes": {
                                   "address": "note value"
  },
  "theme": {
                                   "color": "#fed136"
  }
  };
  var rzp3 = new Razorpay(options);
  document.getElementById('rzp-button3').onclick = function(e){
                                   rzp3.open();
  e.preventDefault();
  }
  
      script(src='https://checkout.razorpay.com/v1/checkout.js')</script>
    <script>var options = {
                                   "key": "rzp_test_Zu4qsGaVzkY7D6",
  "currency": "INR",
    receipt: "order_rcptid_11",
    payment_capture: '0',
  "name": "Donate for PRIDE",
  "description": "Programme for Rural Innovative Developments in Entrepreneurship",
  "image": "img/donate/prayas.jpg",
  "handler": function (response){
                                   alert(response.razorpay_payment_id);
  },
  "prefill": {
                                   "name": "Gaurav Kumar",
  "email": "gaurav.kumar@example.com",
   "address": "INR",
  "contact": "9999999999"
  },
  "notes": {"address": "note value"   },
  "theme": {
                                   "color": "#fed136"
  }
  };
  var rzp4 = new Razorpay(options);
  document.getElementById('rzp-button4').onclick = function(e){
                                   rzp4.open();
  e.preventDefault();
  }
  
  
  
    </script>
</div>
<hr>


<%- include ('../layouts/gyws_footer') %>