<%- include ('../layouts/gyws_header') %>

<style type="text/css">
    .dbox {
        height: auto;
        margin-bottom: 5%;
    }
    .dbox img {
        width: 180px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }
    </style>
    


<header id="about-uss" class="masthead-udy">
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading text-uppercase my-auto">Udyat</div>
        </div>
    </div>
</header>


<div class="row">
    <div class="col-md-2"></div>
    <div id="quotes" class="col-md-8">
        <p><span class="symbols">❝</span>The right to a quality education is, I believe, the perfect path to bridge the
            gap between different cultures and to reconcile various civilizations. Without such a right, the values of
            liberty, justice and equality will have no meaning. Ignorance is by far the biggest danger and threat to
            humankind.<span class="symbols">❞</span></p><br>
        <h5><span class="symbols">☛</span>Moza bint Nasser</h5>
    </div>
    <div class="col-md-2"></div>
</div>
<hr>



<div class="container-fluid layout">
    <h3>Programs under UDYAT</h3>
    <div id="div_h4_c" class="row arow">
        <div class="col-6 dbox">
            <h4 class="h4_c">Recreational Activities</h4>
            <p class="h4_p_c">We often organise some workshops as well as some recreational visits for Jagriti Vidya
                Mandir(JVM) students, which can enhance their view how they see the world.</p>
        </div>
        <div class="col-6 dbox"><img id="udyat-img" src="/contents/initiatives/127.png"></div>
    </div>
    <div id="div_h4_t" dir="" class="row arow">
        <div class="col-6 dbox"><img id="udyat-img" src="/contents/initiatives/125.png"></div>
        <div class="col-6 dbox">
            <h4 class="h4_t">Teachers Training</h4>
            <p class="h4_p_t">The Undergraduate and Research Scholars of GYWS along with some other IIT students train
                teachers to converse in English and improve their ability to teach. The teacher's training held adjacent
                to GYWS office.</p>
        </div>
    </div>
    <div id="div_h4_c" class="row arow">
        <div class="col-6 dbox">
            <h4 class="h4_c">Activity Based Learning</h4>
            <p class="h4_p_c">A weelkly Science based extra-curricular activity has been conducted in Jagriti Vidya
                Mandir by the students of IIT Kharagpur. The students conduct sessions to project various science and
                textbook fundamentals in an Involved manner, <span id="dots">....</span><span id="more">so that it not
                    only makes the children and teachers happy but push them to become curios and to start querying,
                    what they sees in surrounding.</span><a id="seeMore" onclick="myFunction()">see more</a><br>For
                Further Details: <a href="https://scifungyws.github.io/" target="_blank">Activity Based Learning</a></p>
        </div>
        <div class="col-6 dbox"><img id="udyat-img" src="/contents/initiatives/131.png"></div>
    </div>
</div>
<hr>



<%- include ('../layouts/gyws_footer') %>